<!DOCTYPE html>
<html>
	{% include 'hackathon/base.html' %}

	<div class="container">
		{% if user.is_authenticated %}
        	<h1>Recent Events</h1>
            {% if events %}
                {% for event in events %}
                    <li> <a href="{{ event.event }}"> {{ event.event }} </a> (<b>{{ event.occurances }}</b> occurance(s))</li>

                {% endfor %}
            {% else %}
            <p>no events</p>
            {% endif %}


            <h1>Recent Tweets</h1>
            {% if tweets %}
                <table class="table table-hover" id="tweet_table">
                    <thead>
                        <th> Postcode </th>
                        <th> Tweet Body </th>
                        <th> Incident </th>
                        <th> Valid? </th>
                    </thead>
               
                    <tbody> 
                        {% for tweet in tweets %}
                        <tr>
                            <td> {{ tweet.postcode }} </td>
                            <td> {{ tweet.body }}     </td>
                            <td> {{ tweet.event }} </td> 
                            <td>
                                <button type="button" class="btn btn-success">Valid</button>
                                <button type="button" class="btn btn-danger"
                                onclick="deleteRow(this)">Invalid</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                
            {% else %}
                <p> no tweets </p>
            {% endif %} 

        	<!-- for x in entries populate table but for now just create table
        -->
        {% else %}
        	<h1> Please register/login! </h1>
        {% endif %}
    </div>

<script>
function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("tweet_table").deleteRow(i);
}
</script>
	</body>

</html>
